* {
   margin: 0; 
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(218, 226, 226);
    padding: 20px 20px;
}
nav ul {
    display: flex;
}
nav ul li{
     list-style: none;
     margin-right: 25px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.rletter{
    color: brown;
}